$height: 55px;

@import "../../css/common.scss";

header {
  background-color: #000;
  height: $height;
  border: 0;
  margin: 0;
  padding: 0 38px;
  overflow-y: hidden;

  display: flex;

  color: #fff;

  .logo {
    flex-basis: 200px;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;

    img {
      width: 182px;
      height: 35px;
    }
  }

  .login-btn {
    background-color: green;
    flex-basis: 200px;
    text-align: right;
  }

  .nav {
    flex-grow: 1;
    display: inline-block;
    text-align: center;
    min-width: 400px;
    padding: 0;

    $link_blue: $color-blue;

    .nav-link {
      padding: 10px 15px 15px 15px;
      position: relative;
      line-height: 30px;
      display: inline-block;
      font-weight: bold;
      vertical-align: middle;
      font-size: 1.4rem;
      color: #fff;

      &.active, &:hover {
        @include animated;
        color: $link_blue;
        &:after {
          opacity: 1;
        }
      }

      &:after {
        @include animated;
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        opacity: 0;
        background-color: $link_blue;
      }
    }
  }
}